* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

h1 {
  position: relative;
  color: #fff;
  font-size: 12em;
  text-transform: uppercase;
}

h1:before {
  content: "";
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    content: "YAY";
  }
  20% {
    content: "AMAZING";
  }
  40% {
    content: "GREAT";
  }
  60% {
    content: "AWESOME";
  }
  80% {
    content: "SPLENDID";
  }
  100% {
    content: "MARVELOUS";
  }
}
